<h1>The XON Programming Language <sup>alpha</sup></h1>

<div class="container">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Samples</mat-label>
      <mat-select>
        <mat-option value="empty">Empty</mat-option>
        <mat-option value="sample 1">Sample 1</mat-option>
      </mat-select>
    </mat-form-field>
    <textarea></textarea>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Languages</mat-label>
      <mat-select>
        <mat-option value="typescript">TypeScript</mat-option>
        <mat-option value="python" selected>Python</mat-option>
      </mat-select>
    </mat-form-field>
    <textarea></textarea>
  </div>
</div>
