:host {
  display: block;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 200px);
  & > div {
    width: calc(100% - 10px);
    height: 100%;
    overflow: hidden;
  }
  & > :first-child {
    padding-right: 5px;
  }
}

ngx-monaco-editor {
  height: 100%;
  padding-top: 10px;
  background: black;
}

.error {
  position: sticky;
  bottom: 0;
  white-space: pre-line;
  font-size: 16px;
  background: #ffe4e4;
  color: red;
  border-left: solid 5px red;
  margin-top: 10px;
  padding: 10px;
}
