:host {
  display: block;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  & > div {
    width: calc(100% - 10px);
    height: 500px;
    padding: 5px;
  }
}

ngx-monaco-editor {
  height: 100%;
  padding-top: 10px;
  background: black;
}
